body {
    display: flex;
    justify-content: center;
    /*align-items: center; <--- resizes elements to not fill */
    height: 100vh;
    background-color: rgb(124, 63, 109);
    margin: 0; /* Stupid fuckign top border I forgot how to remove */
}

#board {
    background-image: url(/Assets/4.png);
}